.button-link {
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 66px;
  display: block;
  width: 335px;
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: $font-golos;
  box-sizing: border-box;
}
