@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/GolosText/GolosText-Regular.woff") format("woff"),
    url("../fonts/GolosText/GolosText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Golos Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/GolosText/GolosText-DemiBold.woff") format("woff"),
    url("../fonts/GolosText/GolosText-DemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/Merriweather/Merriweather-Regular.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("../fonts/Merriweather/Merriweather-Bold.woff") format("woff"),
    url("../fonts/Merriweather/Merriweather-Bold.woff2") format("woff2");
}
